[submodule "quiz-2-AbdiShukuurGood"]
	path = quiz-2-AbdiShukuurGood
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-AbdiShukuurGood
[submodule "quiz-2-Ahmedosman33"]
	path = quiz-2-Ahmedosman33
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-Ahmedosman33
[submodule "quiz-2-akemidean"]
	path = quiz-2-akemidean
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-akemidean
[submodule "quiz-2-d3v-honey"]
	path = quiz-2-d3v-honey
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-d3v-honey
[submodule "quiz-2-dgilleland"]
	path = quiz-2-dgilleland
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-dgilleland
[submodule "quiz-2-eisaloc1"]
	path = quiz-2-eisaloc1
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-eisaloc1
[submodule "quiz-2-FolaDS"]
	path = quiz-2-FolaDS
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-FolaDS
[submodule "quiz-2-fourcheesebagel"]
	path = quiz-2-fourcheesebagel
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-fourcheesebagel
[submodule "quiz-2-Jandillene"]
	path = quiz-2-Jandillene
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-Jandillene
[submodule "quiz-2-JaredCreighton"]
	path = quiz-2-JaredCreighton
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-JaredCreighton
[submodule "quiz-2-Jeanette83"]
	path = quiz-2-Jeanette83
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-Jeanette83
[submodule "quiz-2-jeanfullam"]
	path = quiz-2-jeanfullam
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-jeanfullam
[submodule "quiz-2-jpascasio2"]
	path = quiz-2-jpascasio2
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-jpascasio2
[submodule "quiz-2-kanchan3004"]
	path = quiz-2-kanchan3004
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-kanchan3004
[submodule "quiz-2-keliharder"]
	path = quiz-2-keliharder
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-keliharder
[submodule "quiz-2-mdyck23"]
	path = quiz-2-mdyck23
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-mdyck23
[submodule "quiz-2-momranoor"]
	path = quiz-2-momranoor
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-momranoor
[submodule "quiz-2-navgagneja"]
	path = quiz-2-navgagneja
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-navgagneja
[submodule "quiz-2-pbecker2nait"]
	path = quiz-2-pbecker2nait
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-pbecker2nait
[submodule "quiz-2-renpills"]
	path = quiz-2-renpills
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-renpills
[submodule "quiz-2-VirtualGirl1"]
	path = quiz-2-VirtualGirl1
	url = https://github.com/DMIT-1508/sep-2022-a03-quiz-2-VirtualGirl1
